CONNECTOR_EXPORT_FILE_CSV_ID=95e5c854-bf26-41cb-a108-bada9dedf9f7
CONNECTOR_EXPORT_FILE_STIX_ID=0f4ec002-5a3a-4575-a909-b4c374d3da4d
CONNECTOR_EXPORT_FILE_TXT_ID=a3832ed3-2345-4984-b831-c680f8ca0a3f
CONNECTOR_IMPORT_DOCUMENT_ID=8774aed5-0a98-433d-9a34-88f8fc1b415e
CONNECTOR_IMPORT_EXT_ID=bd53587c-9757-4273-bc20-83fac1e2f5dd
CONNECTOR_IMPORT_FILE_STIX_ID=b4506d98-cba3-4f87-957b-6e86b202ef46
CONNECTOR_MITRE_ID=e76f81b0-47e2-4958-a2be-d7d37d2dd556
ELASTIC_MEMORY_SIZE=2G
ELASTIC_PASSWORD=elastic
MINIO_ROOT_PASSWORD=$(uuidgen)
MINIO_ROOT_USER=$(uuidgen)
MISTRAL_AI_TOKEN=
OPENCTI_ADMIN_EMAIL=admin@opencti.local
OPENCTI_ADMIN_PASSWORD=opencti
OPENCTI_ADMIN_TOKEN=94404fed-693c-459c-b17c-7124cde444e1
OPENCTI_BASE_PATH=opencti
OPENCTI_BASE_URL=http://localhost:8080
OPENCTI_INTERNAL_URL=http://opencti:8080/
OPENCTI_VERSION=6.5.1
RABBITMQ_DEFAULT_PASS=rabbitmq
RABBITMQ_DEFAULT_USER=rabbitmq
